In [1]:
# load csv files and merge into 1 dataset
import os
import pandas as pd

df = pd.DataFrame({}, dtype=str)
filePath = "../data/Moralis/"
for filename in os.listdir(filePath):
    if not filename.endswith('csv'): continue # don't read non .csv files
    filePath_combined = filePath+filename
    newCsv = pd.read_csv(filePath_combined)
    df  = df.append(newCsv, ignore_index=True)

In [2]:
len(df)

49193

In [3]:
4514729 + 49193

4563922

In [119]:
import pandas as pd
import sqlite3


# Create a SQL connection to our SQLite database
con = sqlite3.connect("../DataOtherSources/EthereumNFTs/nfts.sqlite")

cur = con.cursor()
Ethereum = pd.read_sql_query("SELECT * from transfers", con)
# print(df.head(10))
# Be sure to close the connection
con.close()

In [124]:
Ethereum.iloc[9]

event_id                          9cc5c9e4-e570-4b93-9731-6ac6c27b01ce
transaction_hash     0xefdb2cd352aee3f35684480308dd7aa4cc080f38b60e...
block_number                                                  12936373
nft_address                 0x06012c8cf97BEaD5deAe237070F9587f8E7A266d
token_id                                                       1416156
from_address                0x7aB6478CDD77acd0bDe4aD9620C1570cB12504E9
to_address                  0xAF0b85097971e4149A294f462868DF07ED41cc70
transaction_value                                                    0
timestamp                                                   1627776481
Name: 9, dtype: object

In [125]:
Eth_filtered = Ethereum.drop([  "event_id", 
                                "from_address",
                                "to_address",
                                ], axis=1)

KeyError: "['verified'] not found in axis"

In [122]:
df_filtered = df[ df["contract_type"] == "ERC721"]
df_filtered = df_filtered.drop(["block_hash",
                                "block_number", 
                                "operator",
                                "verified",
                                "transaction_type",
                                "transaction_index",
                                "log_index",
                                "contract_type",
                                "token_id",
                                "from_address",
                                "to_address",
                                "amount"
                                ], axis=1)

In [95]:
def shortenInt(value):
    value = str(value)
    if len(value) > 7 : value = value[:-7]
    return int(value)

In [96]:
df_filtered["value_cutDown"] = df_filtered["value"].map(lambda x : shortenInt(x))
df_filtered['value_cutDown'] = pd.to_numeric(df_filtered['value_cutDown'])
df_filtered['transactionEther'] = df_filtered["value_cutDown"] / 100000000000

In [97]:
df_filtered = df_filtered.drop(["value_cutDown",'value'], axis=1)

In [98]:
df_filtered['block_timestamp'] = pd.to_datetime(df_filtered['block_timestamp'])
df_filtered['block_timestamp_day'] = df_filtered['block_timestamp'].dt.floor('d')
# df_filtered.sort_values("block_timestamp")

In [99]:
df_filtered[df_filtered["transaction_hash"] == "0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c43655d608ddd7941fd84"]

,block_timestamp,transaction_hash,token_address,transactionEther,block_timestamp_day
28295,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28296,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28297,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28298,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28299,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28300,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28301,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28302,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28303,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00
28304,2021-09-25 17:01:59+00:00,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0.8,2021-09-25 00:00:00+00:00

In [109]:
import numpy as np

df_grouped = df_filtered.groupby(["transaction_hash"])

grouped = []

for (name, groupobject) in df_grouped.__iter__():
    price =  np.array(groupobject["transactionEther"])[0]
    timeStamp =  np.array(groupobject["block_timestamp"])[0]
    timeStamp_day =  np.array(groupobject["block_timestamp_day"])[0]
    nft = np.array(groupobject["token_address"])[0]
    amount = len(groupobject)
    grouped.append({
        "timeStamp":timeStamp,
        "timeStamp-day":timeStamp_day,
        "price":price,
        "quant": amount,
        "nft": nft,
        "transactie":name
    })

# trade price 
    # mean
    # high
    # low
    # difference previous day
    # volatility
# trade volume

In [110]:
grouped = pd.DataFrame(grouped)
grouped

,timeStamp,timeStamp-day,price,quant,nft,transactie,dummyVar
0,2021-09-25 17:01:59+00:00,2021-09-25 00:00:00+00:00,0.80000,10,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,1
1,2021-09-25 17:56:00+00:00,2021-09-25 00:00:00+00:00,0.16000,2,0xb5c747561a185a146f83cfff25bdfd2455b31ff4,0x0001b1d457baca1c41963b9329043286fdec76469ef2...,1
2,2021-09-14 16:41:05+00:00,2021-09-14 00:00:00+00:00,0.69000,1,0xf497253c2bb7644ebb99e4d9ecc104ae7a79187a,0x0003412f5eb98b52504e4c6e98a11789cab2bbb23856...,1
3,2021-09-25 17:48:16+00:00,2021-09-25 00:00:00+00:00,0.00000,1,0x049aba7510f45ba5b64ea9e658e342f904db358d,0x00035d40441e1a596a5bc70d575ac7fca0b6dc7866a5...,1
4,2021-09-25 17:05:14+00:00,2021-09-25 00:00:00+00:00,0.00000,1,0x4b3406a41399c7fd2ba65cbc93697ad9e7ea61e5,0x000673a7c07077b23a5ff1817f7039c968561f4e310f...,1
...,...,...,...,...,...,...,...
14397,2021-09-25 16:40:52+00:00,2021-09-25 00:00:00+00:00,0.08888,1,0xce50f3ca1f1dbd6fa042666bc0e369565dda457d,0xfff49b990873f07f5d01e6c34b87878b79d4f53f931b...,1
14398,2021-09-25 17:40:43+00:00,2021-09-25 00:00:00+00:00,0.00000,1,0x60f80121c31a0d46b5279700f9df786054aa5ee5,0xfff686ebbb4a74c2607fb77192d7b4ade466ae150cb3...,1
14399,2021-09-25 16:53:39+00:00,2021-09-25 00:00:00+00:00,0.10000,2,0x2cfcbf304415d87611e89fd284ed362cf6ba5141,0xfff7b374cd6d9f69ed42cd2eab22d414424f051d684b...,1
14400,2021-09-25 18:11:19+00:00,2021-09-25 00:00:00+00:00,0.11000,1,0x7c4d474bb7c274dde68c0e6e82bdfd81a2f8fa9f,0xfff92b26ff1d4da2f245bbe17974097af9a8d84f2fd3...,1
14401,2021-09-25 16:49:15+00:00,2021-09-25 00:00:00+00:00,0.03990,1,0x52607cb9c342821ea41ad265b9bb6a23bea49468,0xfff98775dd03350e509f07631c3828cea5d4cf56ec5a...,1

In [102]:
grouped.iloc[0:3]

,timeStamp,timeStamp-day,price,quant,nft,dummyVar
0,2021-09-25 17:01:59+00:00,2021-09-25 00:00:00+00:00,0.80,10,0x0000f0f85cb75560381f87d492c9868ee0dee55fa86c...,1
1,2021-09-25 17:56:00+00:00,2021-09-25 00:00:00+00:00,0.16,2,0x0001b1d457baca1c41963b9329043286fdec76469ef2...,1
2,2021-09-14 16:41:05+00:00,2021-09-14 00:00:00+00:00,0.69,1,0x0003412f5eb98b52504e4c6e98a11789cab2bbb23856...,1

In [111]:
pivot = pd.pivot_table(grouped, values="price", index="timeStamp-day", columns="nft", aggfunc=np.mean)

In [117]:
pivot["0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D"]

KeyError: '0xBC4CA0EdA7647A8aB7C2061c2E118A18a936f13D'